body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
  border: 2.5px solid blue;
  height: 250px;
}
img{
	height: 250px;
	width: 311px;

	}